[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyfluidsynth = "~=1.3.0"
pychord = "*"
mingus = "*"
music21 = "*"
pillow = "*"
pywebview = "*"
pygobject = {version = "*", markers = "sys_platform == 'linux'"}

[dev-packages]
pytest = "~=7.4.0"
hypothesis = "*"
pyinstaller = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
rinohtype = "*"

[requires]
python_version = "3.13"
